.singleArtist {
  .container {
    .wrapper {
      .center {
        margin-bottom: 1rem;
        padding: 1rem;

        .centerTop {
          margin-bottom: 1rem;
          display: flex;
          align-items: stretch;

          .artistInfo {
            flex: 5;

            h4 {
              margin-top: 1rem;
              font-size: 48px;
              font-weight: 700;
            }

            .artistRate {
              display: flex;
              align-items: center;
              gap: 10px;
              margin-top: 1rem;

              svg {
                width: 32px;
                height: 32px;
                fill: var(--primary-color);
              }
            }
          }

          .share {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              width: 100%;
              height: 100%;
              aspect-ratio: 1/1;
              max-width: 120px;
              max-height: 120px;
              fill: var(--accent-color);
              cursor: pointer;
            }
          }
        }
        .centerBottom {
          height: 100px;
        }
      }
      .bottom {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .singleArtist {
    .container {
      .wrapper {
        .center {
          .centerTop {
            flex-direction: column;
            background-color: red;

            .share {
              background-color: rebeccapurple;
              svg {
                width: 10%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .singleArtist {
    .container {
      .wrapper {
        .center {
          .centerTop {
            .share {
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}
