.newPost {
  padding: 2rem;

  .container {
    padding-inline: 4rem;
    .wrapper {
      display: flex;
      gap: 50px;

      .left {
        flex: 2;

        ul {
          list-style: none;

          li {
            margin-bottom: 0.2rem;
            padding: 0.75rem;
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 18px;
            border-radius: 8px;

            span {
              &:first-child {
                padding: 0 0.5rem;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }

          .active {
            background-color: var(--background-secondary-color);
            color: var(--accent-color);

            span {
              &:first-child {
                background-color: #fff;
                border-radius: 50%;
                border: 1px solid var(--accent-color);
              }
            }
          }
        }
      }

      .right {
        flex: 10;

        .top {
          margin-bottom: 1rem;
        }
        .middle {
          min-height: 60svh;

          .eventImages {
            display: flex;
            gap: 12px;

            img {
              width: 240px;
              aspect-ratio: 16/9;
            }

            .img {
              position: relative;
              button {
                display: none;
                cursor: pointer;
                border: none;
                font-size: 18px;
                padding: 0.25rem 0.55rem;
                border-radius: 50%;
              }

              &:hover {
                button {
                  display: block;
                  position: absolute;
                  top: 0;
                  right: 0;
                }
              }
            }
          }

          .formItem {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 1rem;

            input,
            textarea,
            select,
            option {
              padding: 0.5rem;
              border-radius: 0.5rem;
              border: none;
            }

            textarea {
              max-width: 100%;
              min-width: 100%;
              min-height: 100px;
            }

            option,
            select {
              font-size: 18px;
            }
          }
        }

        .bottom {
          .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;

            button {
              min-width: 120px;
              padding: 0.5rem 0;
              border: none;
              cursor: pointer;
              border-radius: 12px;
              color: white;
              font-size: 18px;

              &:hover {
                opacity: 0.9;
              }

              &:first-child {
                background-color: var(--helper-color);
              }

              &:last-child {
                background-color: var(--accent-color);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .newPost {
    .container {
      padding-inline: 1rem;
      .wrapper {
        flex-direction: column;
        .left {
          ul {
            li {
              &:not(.active) {
                display: none;
              }
            }
          }
        }
        .right {
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .newPost {
    padding: 1rem;
    .container {
      padding-inline: 0.25rem;
      .wrapper {
        .left {
        }
        .right {
        }
      }
    }
  }
}
