.bigSlider {
  position: absolute;
  top: 0;
  width: 100svw;
  height: 100svh;
  z-index: 9999;

  .galleryWrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .slider {
      height: 100%;
      position: relative;
      background-color: var(--background-primary-color);
      overflow: hidden;

      span {
        width: 64px;
        height: 64px;
        padding: 1rem;
        border-radius: 64px;
        font-size: 32px;
        position: absolute;
        top: 50%;
        background-color: var(--accent-color);
        cursor: pointer;
        z-index: 99;

        &:hover {
          background-color: var(--helper-color);
        }

        &:first-of-type {
          left: 2rem;
        }

        &:last-of-type {
          transform: rotate(180deg);
          right: 2rem;
        }
      }

      .sliderWrapper {
        display: flex;
        width: 300svw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100svw;
          height: 80%;
          object-fit: cover;
        }
      }
    }

    .galleryClose {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 32px;
      line-height: 1.1;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 48px;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
        color: gray;
        transition: color 0.3s ease;
        &:hover {
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .bigSlider {
    .galleryWrapper {
      .slider {
        span {
          width: 48px;
          height: 48px;
          border-radius: 48px;
          font-size: 16px;

          &:first-of-type {
            left: 1rem;
          }

          &:last-of-type {
            transform: rotate(180deg);
            right: 1rem;
          }
        }
        .sliderWrapper {
          img {
            height: 50%;
          }
        }
      }
      .galleryClose {
        font-size: 18px;
      }
    }
  }
}
