.home {
  padding-bottom: 20px;

  .container {
    .wrapper {
      .hero {
        width: 100%;
        min-height: calc(100svh - 80px);
        height: max-content;
        background-image: url('https://images.unsplash.com/photo-1505236858219-8359eb29e329?q=80&w=2762&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        position: relative;
        z-index: 1;

        .bgOpacity {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
        }
        .texts {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          z-index: 9;
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 20px;
          font-family: 'Bebas Neue', sans-serif;

          .top {
            letter-spacing: 1.5;
            flex: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
              font-size: 112px;
              font-weight: 900;
              text-align: center;

              text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 4px #91ff00,
                0 0 2px #91ff00, 0 0 9px #91ff00;
              transition: all 1s;

              &:hover {
                text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #91ff00,
                  0 0 10px #91ff00, 0 0 15px #91ff00, 0 0 20px #91ff00,
                  0 0 25px #91ff00, 0 0 30px #91ff00;
              }
            }

            h3 {
              font-size: 24px;
              font-weight: 700;
              line-height: 28px;
              color: var(--text-secondary-color);
              text-align: center;
            }
          }

          .bottom {
            flex: 1;
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: center;
            padding-top: 12px;

            .buttons {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 30px;

              button {
                transition: all 0.2s ease-in;
                border: none;
                border-radius: 8px;
                color: black;
                background-color: var(--primary-color);
                cursor: pointer;
                padding: 10px 22px;
                font-size: 18px;
                font-weight: 600;
                width: fit-content;

                &:hover {
                  background-color: var(--background-primary-color);
                  color: var(--accent-color);
                }

                &:last-child {
                  color: white;
                  background-color: var(--accent-color);

                  &:hover {
                    background-color: var(--background-dark-color);
                  }
                }
              }
            }
          }
        }
      }

      .categories {
        max-width: 90%;
        margin: auto;
        margin-top: 2rem;

        .filterSearch {
          form {
            padding: 1rem;
            display: flex;
            align-items: center;
            span {
              font-size: 48px;
              margin-right: 20px;
              min-width: fit-content;
            }
            svg {
              width: 32px;
              height: 32px;
              margin-right: 8px;
            }
            input {
              min-width: 320px;
              outline: none;
              border: none;
              border-bottom: 1px solid var(--accent-color);
              background-color: transparent;
              font-size: 48px;
              color: var(--primary-color);
            }
          }
        }

        .catalog {
          .catalogWrapper {
            padding: 1rem;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 30px;
            a {
              display: flex;
              align-items: center;
              gap: 20px;
              padding: 16px 32px;
              border: 1px solid var(--text-secondary-color);
              font-size: 24px;
              background-color: var(--background-secondary-color);
              min-width: fit-content;

              svg {
                width: 2rem;
                height: 2rem;
                fill: var(--primary-color);
              }
            }
          }
        }
      }
      .rising {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 24px;
        padding-inline: 20px;
        margin-top: 20px;

        .risingItem {
          width: 100%;
          aspect-ratio: 16/9;
          background-size: cover;
          border-radius: 4px;
          /* background-blend-mode: saturation; */

          .hoverInfo {
            display: none;
          }

          &:hover {
            .hoverInfo {
              border-radius: 4px;
              box-shadow: inset 1px 1px 12px 2px #e5ff00;
              transition: all 1s ease-in-out;
              display: flex;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 1rem;
              background-color: rgba(0, 0, 0, 0.5);

              .hoverInfoTitle {
                font-size: 2rem;
                text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #e5ff00b7,
                  0 0 10px #e5ff00b7, 0 0 15px #e5ff00b7;
                transition: all 1s;

                &:hover {
                  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #e5ff00b7,
                    0 0 10px #e5ff00b7, 0 0 15px #e5ff00b7, 0 0 20px #e5ff00b7,
                    0 0 25px #e5ff00b7, 0 0 30px #e5ff00b7;
                }
              }

              .hoverInfoDetails {
                display: flex;
                align-items: start;
                justify-content: space-between;
                padding-inline: 1rem;
                p {
                  text-align: start;
                  font-size: 18px;
                  line-height: 1.1;
                }
                .detailInfoDate {
                  width: fit-content;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: start;
                  font-size: 18px;

                  span {
                    &:first-child {
                      line-height: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .search {
        width: 70%;
        margin: auto;
        margin-top: 1rem;
      }
      .map {
        max-width: 80%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}
@media screen and (min-width: 1566px) {
  .home {
    .container {
      .wrapper {
        .hero {
          .texts {
            .bottom {
              .buttons {
                gap: 60px;
                button {
                  transform: scale(1.25);
                }
              }
            }
          }
        }

        .rising {
          .risingItem {
            &:hover {
              .hoverInfo {
                .hoverInfoDetails {
                  padding-inline: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1566px) {
  .home {
    .container {
      .wrapper {
        .search {
          width: 90%;
        }

        .categories {
          .catalog {
            .catalogWrapper {
              grid-template-columns: repeat(3, minmax(0, 1fr));
            }
          }
        }
        .rising {
          .risingItem {
            &:hover {
              .hoverInfo {
                .hoverInfoDetails {
                  padding-inline: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .home {
    .container {
      .wrapper {
        .rising {
          .risingItem {
            &:hover {
              .hoverInfo {
                .hoverInfoTitle {
                  font-size: 1.5rem;
                  color: yellow;
                  text-align: start;
                  padding-inline: 0;
                }

                .hoverInfoDetails {
                  padding-inline: 0.5rem;
                  p {
                    text-align: center;
                    font-size: 16px;
                    line-height: 1;
                  }
                  .detailInfoDate {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
        .map {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home {
    .container {
      .wrapper {
        .hero {
          .texts {
            .top {
              h1 {
                font-size: 80px;
              }
              h3 {
                font-size: 20px;
              }
            }
          }
        }
        .categories {
          .catalog {
            .catalogWrapper {
              grid-template-columns: auto auto;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    .container {
      .wrapper {
        .hero {
          .texts {
            .top {
              h1 {
                font-size: 64px;
              }
              h3 {
                font-size: 18px;
              }
            }
          }
        }
        .categories {
          .filterSearch {
            form {
              flex-direction: column;
              align-items: start;
            }
          }
          .catalog {
            .catalogWrapper {
              grid-template-columns: auto;
            }
          }
        }

        .rising {
          .risingItem {
            &:hover {
              .hoverInfo {
                .hoverInfoTitle {
                  font-size: 2rem;
                  color: yellow;
                  text-align: center;
                  padding-inline: 1rem;
                }

                .hoverInfoDetails {
                  padding-inline: 0.5rem;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-around;
                  max-height: 60%;
                  height: 100%;
                  p {
                    text-align: center;
                    font-size: 16px;
                    line-height: 1;
                  }
                  .detailInfoDate {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }

        .search {
          width: 90%;
        }
      }
    }
  }
}
