.singleArena {
  .container {
    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .top {
      }

      .center {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        .centerTop {
          display: flex;
          align-items: start;

          .centerTopLeft {
            flex: 2;
            h3 {
              font-size: 40px;
              font-weight: 700;
              margin-bottom: 1rem;
              color: var(--text-secondary-color);
            }

            p {
              margin-bottom: 1rem;
              max-width: 95%;
              text-align: justify;
              font-size: 18px;
              max-height: 200px;
              overflow-y: scroll;
              &::-webkit-scrollbar {
                display: none;
              }
              -ms-overflow-style: none; /* IE and Edge */
              scrollbar-width: none; /* Firefox */
            }

            svg {
              width: 18px;
              height: 18px;
              color: var(--primary-color);
            }
          }
          .centerTopRight {
            flex: 1;
            width: 100%;
            min-height: 260px;
            border-radius: 12px;
          }
        }
        .centerBottom {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            color: var(--accent-color);
          }
        }
      }

      .bottom {
        padding: 0 2rem;
        margin-bottom: 2rem;

        .comments {
          .commentList {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .singleArena {
    .container {
      .wrapper {
        .top {
          aspect-ratio: 16/12;
          flex-direction: column;

          .smallImages {
            flex-direction: row;
          }
        }

        .center {
          .centerTop {
            flex-direction: column;

            .centerTopLeft {
              p {
                max-width: 100%;
              }
            }

            .centerTopRight {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .singleArena {
    .container {
      .wrapper {
        .bottom {
          padding: 0 1rem;
        }
      }
    }
  }
}
