.singleArena {
  .container {
    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .top {
        padding: 0 2rem;
        width: 100%;
        aspect-ratio: 24/9;
        display: flex;
        gap: 30px;

        .filter {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          background: rgba(0, 0, 0, 0.4);
        }

        img {
          object-fit: cover;
          border-radius: 12px;
        }

        .mainImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
          flex: 4;
        }

        .smallImages {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 10px;

          img,
          .seeMore {
            width: 100%;
            height: 100%;
            min-width: 240px;

            &:hover {
              filter: grayscale(50%);
            }
          }

          .seeMore {
            background-color: var(--text-secondary-color);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .gallery {
        position: absolute;
        top: 0;
        width: 100svw;
        height: 100svh;
        z-index: 99;

        .galleryWrapper {
          width: 100%;
          height: 100%;
          position: relative;

          .slider {
            height: 100%;
            position: relative;
            background-color: var(--background-primary-color);
            overflow: hidden;

            span {
              width: 64px;
              height: 64px;
              padding: 1rem;
              border-radius: 64px;
              font-size: 32px;
              position: absolute;
              top: 50%;
              background-color: var(--background-primary-color);
              cursor: pointer;
              z-index: 99;

              &:hover {
                background-color: var(--background-secondary-color);
              }

              &:first-of-type {
                left: 2rem;
              }

              &:last-of-type {
                transform: rotate(180deg);
                right: 2rem;
              }
            }

            .sliderWrapper {
              display: flex;
              width: 300svw;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 100svw;
                height: 80%;
                object-fit: cover;
              }
            }
          }

          .galleryClose {
            position: absolute;
            right: 1rem;
            top: 1rem;
            font-size: 32px;
            line-height: 1.1;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 48px;
            background-color: var(--background-primary-color);
            &:hover {
              background-color: var(--background-secondary-color);
              cursor: pointer;
            }
          }
        }
      }
      .center {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        .centerTop {
          display: flex;
          align-items: stretch;

          .centerTopLeft {
            flex: 4;
            h3 {
              font-size: 40px;
              font-weight: 700;
              margin-bottom: 1rem;
              color: var(--text-secondary-color);
            }

            p {
              margin-bottom: 1rem;
              max-width: 90%;
              text-align: justify;
              font-size: 18px;
              max-height: 260px;
              overflow-y: scroll;
              &::-webkit-scrollbar {
                display: none;
              }
              -ms-overflow-style: none; /* IE and Edge */
              scrollbar-width: none; /* Firefox */
            }

            svg {
              width: 18px;
              height: 18px;
              color: var(--primary-color);
            }
          }
          .centerTopRight {
            background-color: blue;
            flex: 1;
            min-height: 260px;
            border-radius: 12px;
          }
        }
        .centerBottom {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            color: var(--accent-color);
          }
        }
      }

      .bottom {
        padding: 0 2rem;
        margin-bottom: 2rem;

        .comments {
          img {
            width: 48px;
            height: 48px;
            border-radius: 48px;
          }
          .writeComment {
            padding: 1rem;
            border-radius: 0.5rem;
            display: flex;
            align-items: stretch;
            gap: 30px;

            .input {
              flex: 11;

              form {
                height: 100%;
                display: flex;
                align-items: center;
                gap: 1rem;

                input {
                  width: 100%;
                  height: 100%;
                  padding-left: 1rem;
                  font-size: 18px;
                  outline: none;
                }

                button {
                  width: 48px;
                  height: 48px;
                  border-radius: 48px;
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  svg {
                    font-size: 24px;
                  }
                }
              }
            }
          }

          .commentList {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1566px) {
  .singleArena {
    .container {
      .wrapper {
        .top {
          aspect-ratio: 16/9;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .singleArena {
    .container {
      .wrapper {
        .top {
          aspect-ratio: 16/12;
          flex-direction: column;

          .smallImages {
            flex-direction: row;
          }
        }
        .gallery {
          .galleryWrapper {
            .slider {
              .sliderWrapper {
                img {
                  height: 50%;
                }
              }
            }
          }
        }
        .center {
          .centerTop {
            flex-direction: column;

            .centerTopLeft {
              p {
                max-width: 100%;
              }
            }

            .centerTopRight {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .singleArena {
    .container {
      .wrapper {
        .top {
          aspect-ratio: 12/9;

          .smallImages {
            img {
              min-width: auto;
              &:nth-child(2) {
                display: none;
              }
            }

            .seeMore {
              min-width: auto;
            }
          }
        }

        .bottom {
          padding: 0 1rem;

          .comments {
            .writeComment {
              padding: 0;
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}
