.events {
  .container {
    max-width: 90%;
    margin: auto;
    padding-top: 1rem;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .events {
    .container {
      .wrapper {
        .eventList {
          .right {
            display: none;
          }
        }
      }
    }
  }
}
