.arenas {
  .arenasContainer {
    .arenasWrapper {
      max-width: 90%;
      margin: auto;
      .searchBar {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      .topContent {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
      }
    }
  }
}

@media screen and (min-width: 1566px) {
  .arenas {
    .arenasContainer {
      .arenasWrapper {
        .searchBar {
          width: 70%;
          margin: auto;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .arenas {
    .arenasContainer {
      .arenasWrapper {
        .topContent {
          width: 70%;
          margin: auto;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .arenas {
    .arenasContainer {
      .arenasWrapper {
        .topContent {
          padding: 1rem;
        }
      }
    }
  }
}
