.announcementCarousel {
  padding: 20px;
  width: 100%;

  .container {
    width: 100%;
    aspect-ratio: 16/5;
    position: relative;
    overflow-x: hidden;

    .wrapper {
      /* n item * 100 */
      width: 400%;
      height: 100%;
      position: absolute;
      transform: translateX(0);

      display: flex;

      .carouselItem {
        flex: 1;
        height: 100%;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: saturate(50%);
        }

        .announcement {
          position: absolute;
          z-index: 11;
          width: 100%;
          height: 100%;
          top: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h2 {
            color: var(--primary-color);
            font-size: 80px;
            font-weight: 700;
            letter-spacing: 1.2;
            margin: 0;
          }

          p {
            max-width: 70%;
            margin: auto;
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 1.1;
            font-weight: 500;
            text-align: center;
            color: white;
          }

          button {
            transition: all 0.2s ease-in;
            border: none;
            border-radius: 8px;
            color: white;
            background-color: var(--primary-color);
            cursor: pointer;
            padding: 10px 22px;
            font-size: 18px;
            font-weight: 600;

            &:hover {
              background-color: var(--background-primary-color);
              color: var(--accent-color);
            }
          }
        }
      }

      transition: all 1s ease-in-out;
    }

    .arrowLeft,
    .arrowRight {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 10;
      font-size: 48px;
      cursor: pointer;
      color: var(--primary-color);
      transition: all 0.3s ease-in-out;
      height: max-content;

      &:hover {
        transform: scale(1.1);
        box-shadow: inset;
      }
    }
    .arrowLeft {
      left: 2%;
      transform: rotate(180deg);

      &:hover {
        transform: rotate(180deg) scale(1.1);
      }
    }
    .arrowRight {
      left: calc(100% - 48px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .announcementCarousel {
    .container {
      .arrowLeft,
      .arrowRight {
        font-size: 32px;
      }

      .arrowRight {
        left: calc(100% - 32px);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .announcementCarousel {
    .container {
      .wrapper {
        .carouselItem {
          .announcement {
            h2 {
              font-size: 32px;
            }
            p {
              font-size: 16px;
            }
            button {
              font-size: 14px;
              padding: 8px 16px;
            }
          }
        }
      }
      .arrowLeft,
      .arrowRight {
        font-size: 24px;
      }

      .arrowRight {
        left: calc(100% - 24px);
      }
    }
  }
}
